<launch>
  <!-- Export env variable so that gazebo finds the models and materials -->
	<env name="GAZEBO_MODEL_PATH" value="$(find grips_worlds)/models" />
  
	<!-- roslaunch arguments -->
  <arg name="world_name" default="$(find grips_worlds)/worlds/bimanual_setup.world"/>
	<arg name="show_rviz" default="true"/>
	<arg name="debug" default="false"/>
	<arg name="paused" default="true"/>
	<arg name="gui" default="true"/>
  <arg name="load_controllers" default="true"/>
  <arg name="spawn_args" default=""/>

	<!-- We resume the logic in empty_world.launch, changing only the name of 
		the world to be launched -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world_name)" />
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)" />
		<arg name="use_sim_time" value="true" />
		<arg name="headless" value="false" />
	</include>
	
  <arg name="robot_name" value="bimanual"/>
  <!-- send robots urdfs to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find grips_description)/robots/$(arg robot_name).xacro'" />
  
  <!-- the semantic description that corresponds to the URDF -->
  <param name="robot_description_semantic" textfile="$(find grips_moveit_config)/config/$(arg robot_name).srdf" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="$(arg robot_name)_spawn" pkg="gazebo_ros" type="spawn_model" output="log" 
        args="-urdf -param robot_description -model $(arg robot_name)
              $(arg spawn_args)" />
  
  <group if="$(arg load_controllers)">
    <!-- load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find grips_control)/config/bimanual_joint_control.yaml" command="load" />
    <!-- load the controllers -->
    <node name="$(arg robot_name)_controller" pkg="controller_manager" type="spawner" output="log" 
        args="left_SA left_SE left_WP left_WY left_WR left_linkage_tr left_linkage_tl left_linkage_bl
        right_SA right_SE right_WP right_WY right_WR right_linkage_tr right_linkage_tl right_linkage_bl joint_state_controller" />
    <!-- start robot state publisher -->
    <node name="$(arg robot_name)_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="log">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>
  </group>
  
  <!-- Show in Rviz -->
	<group if="$(arg show_rviz)">
		<node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find grips_gazebo)/launch/rviz/bimanual.rviz"/> 
	</group>
	
</launch>
