<launch>
  <!-- roslaunch arguments -->
  <arg name="world_name" default="$(find grips_gazebo)/worlds/grips.world"/>
  <arg name="load_controllers" default="true"/>
  <arg name="show_rviz" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="paused" default="true"/>
  <arg name="spawn_args" default=""/>
  <arg name="gui" default="true"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of 
    the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="true" />
    <arg name="headless" value="false" />
  </include>
  
  <!-- Bring up the robot: description, spawn model, controllers and state publisher -->
  <include file="$(find grips_gazebo)/launch/robot_bringup.xml">
    <arg name="controllers" default=" SA SE WP WY WR linkage_tr linkage_tl linkage_bl joint_state_controller"/>
    <arg name="spawn_args" value="$(arg spawn_args)"/>
    <arg name="robot_name" value="grips_robotiq" />
  </include>
  
  <!-- Show in Rviz -->
  <group if="$(arg show_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find grips_gazebo)/launch/rviz/grips.rviz"/> 
  </group>
  
</launch>
