<?xml version="1.0"?>
<launch>
  
  <!-- Startup Grips without any mechanism controllers -->
  <include file="$(find grips_gazebo)/launch/grips_no_controllers.launch" />

  <!-- Load and Start Default Controllers -->
  <include file="$(find grips_control)/launch/grips_default_controllers.launch" />
  
</launch>
