<launch>
  <arg name="robot_name" value="grips" />
  <arg name="max_angle_inc" default="0.05" />
  
  <group ns="$(arg robot_name)">
    <!-- Upload robot and semantic description that corresponds to the URDF -->
    <include file="$(find grips_description)/launch/upload_grips.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <!-- Start the kinematic services -->
    <node name="kinematic_services" pkg="grips_kinematics" type="kinematic_services" respawn="false" output="screen">
      <rosparam command="load" file="$(find grips_moveit_config)/config/kinematics.yaml"/>
      <param name="max_solver_iterations" value="1000"/>
      <param name="pos_epsilon" type="double" value="0.025"/>  <!-- meters -->
      <param name="rot_epsilon" type="double" value="0.2"/>   <!-- to be determined -->
      <param name="max_angle_inc" type="double" value="$(arg max_angle_inc)"/>
    </node>
  </group>
  
</launch>
