<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"> 
  <!-- Auxiliar Values -->
  <property name="pi" value="3.1415926535897931" />
  <property name="gripper_effort" value="200" />
  <property name="gripper_velocity" value="15" />
  <property name="max_effort" value="200" />
  <property name="max_velocity" value="5" />
  
  <!-- Macros -->
  <!-- Inertia Macro -->
  <macro name="cylinder_inertial" params="cog mass radius length">
    <inertial>
      <origin xyz="${cog}" rpy="0 0 0" />
      <mass value="${mass}" />
      <inertia  ixx="${3*mass*radius^2 / 12  + length^2 / 12}" ixy="0.0"  ixz="0.0" 
                iyy="${3*mass*radius^2 / 12  + length^2 / 12}" iyz="0.0"  izz="${mass*radius^2 / 2}" />
    </inertial>
  </macro>
  <!-- Link Macro -->
  <macro name="create_link" params="name color mesh *inertia">
    <link name="${name}">
      <visual>
        <geometry>
          <mesh filename="${mesh}" />
        </geometry>
        <material name="${color}" />
      </visual>
<!--
      <collision>
        <geometry>
          <mesh filename="${mesh}" />
        </geometry>
      </collision>
      <xacro:insert_block name="inertia" />
-->
    </link>
  </macro>
  <!-- Transmission Macro -->
  <macro name="simple_transmission" params="joint">
    <transmission name="${joint}_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}" />
      <actuator name="${joint}_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </macro>
</robot>
