<launch>
  <arg name="robot_name" value="grips" />
  <arg name="show_rviz" default="true"/>
  
  <!-- motion control using ik plugin defined in kinematics.yaml -->
  <include file="$(find grips_control)/launch/motion_control.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="metrics_database" value="ik_metrics" />
    <arg name="position_error" value="0.05" />
  </include>
  
  <group ns="$(arg robot_name)">
    <!-- upload robot and semantic description that corresponds to the URDF -->
    <include file="$(find grips_description)/launch/upload_grips.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    
    <!-- labview server -->
    <node name="labview_server" pkg="grips_control" type="labview_server.py" output="screen"> 
    <param name="write_ip" type="string" value="192.168.0.4"/>
      <param name="read_port" type="int" value="5555"/>
      <param name="write_port" type="int" value="5050"/>    
      <param name="planning_group" type="string" value="arm" />
      <param name="publish_frequency" type="double" value="1000.0" />
    </node>
    
    <!-- Show in Rviz -->
    <group if="$(arg show_rviz)">
      <!-- start robot state publisher -->
      <node name="$(arg robot_name)_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
        <remap from="/joint_states" to="/$(arg robot_name)/joint_states" />
      </node>
      <!-- Rviz -->
      <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find grips_gazebo)/launch/rviz/grips.rviz"/>
    </group>
  </group>
  
</launch>
