<?xml version="1.0"?>
<launch>
    
  <node name="ft_calibration" pkg="force_torque_sensor_calib" type="ft_calib_node" output="screen" ns="grips">
    <rosparam command="load" file="$(find grips_ft_sensor)/config/ft_calibration_poses.yaml"/>
<!--
    <remap from="/ft_raw" to="/grips/ft_raw"/>
    <remap from="/imu"    to="/grips/imu" />
-->
  </node>
</launch>
