<launch>	
  <arg name="sim" default="true" />
  <arg name="robot_name" default="grips" />
  
  <!-- Load robot model -->
  <include file="$(find grips_gazebo)/launch/$(arg robot_name).launch" >
    <arg name="load_controllers" value="false" />
    <arg name="show_rviz" value="false" />
  </include>
  
  <!-- Load robot controllers -->
  <group ns="grips" >
    <include file="$(find grips_control)/launch/grips_trajectory_control.launch" />
  
    <group if="$(arg sim)">
      <rosparam file="$(find grips_moveit_config)/config/joint_names.yaml" command="load"/>
      <!-- industrial_robot_simulator: accepts robot commands and reports status -->
      <node pkg="industrial_robot_simulator" type="industrial_robot_simulator" name="industrial_robot_simulator"/>
    </group>
  

    <include file="$(find grips_moveit_config)/launch/move_group.launch">
      <arg name="publish_monitored_planning_scene" value="true" />
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
  
  </group>

<!--
  <include file="$(find grips_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>
  
  <include file="$(find grips_moveit_config)/launch/default_warehouse_db.launch" />
-->
</launch>
