<?xml version="1.0"?>
<robot name="bimanual" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- Import common macros-->
  <xacro:include filename="$(find grips_description)/urdf/common.xacro" />
  <!-- Import materials for rviz-->
  <xacro:include filename="$(find grips_description)/urdf/materials.xacro" />
  <!-- Import robot without gripper -->
  <xacro:include filename="$(find grips_description)/urdf/grips_macro.xacro" />
  <!-- Import simple gripper -->
  <xacro:include filename="$(find grips_description)/urdf/simple_gripper_macro.xacro" /> 
  
  <!-- Create the grips robots -->
  <grips_robot name="left_"/>
  <grips_robot name="right_"/>
  
  <!-- Create the grippers -->
  <simple_gripper name="left_"/>
  <simple_gripper name="right_"/>
  
  <!-- Fix the grippers to the robot -->
  <joint name="left_gripper_anchor" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="left_end_effector" />
    <child link="left_gripper_base" />
  </joint>
  <joint name="right_gripper_anchor" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="right_end_effector" />
    <child link="right_gripper_base" />
  </joint>
  
  <!-- Used for fixing the robots to Gazebo -->
  <link name="world" />
  <joint name="left_anchor" type="fixed">
    <origin xyz="0 0 0.801" rpy="0 0 0" />
    <parent link="world" />
    <child link="left_base_link" />
  </joint>
  <joint name="right_anchor" type="fixed">
    <origin xyz="1 0 0.801" rpy="0 0 0" />
    <parent link="world" />
    <child link="right_base_link" />
  </joint>
  
  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo> 
  
</robot>
