<?xml version="1.0"?>
<robot name="grips" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- Import common macros-->
  <xacro:include filename="$(find grips_description)/urdf/common.xacro" />
  <!-- Import materials for rviz-->
  <xacro:include filename="$(find grips_description)/urdf/materials.xacro" />
  <!-- Import robot without gripper -->
  <xacro:include filename="$(find grips_description)/urdf/grips_macro.xacro" />
  <!-- Import ft sensor -->
  <xacro:include filename="$(find grips_description)/urdf/ftsensor.xacro" />
  <!-- Import robotiq s model -->
  <xacro:include filename="$(find robotiq_s_model_visualization)/cfg/s-model_articulated_macro.xacro" />
  
  <property name="robot_name" value="" />
  
  <!-- Create the grips robot -->
  <grips_robot name="${robot_name}"/>
  
  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world" />
  <joint name="anchor" type="fixed">
    <origin xyz="0 0 0.001" rpy="0 0 0" />
    <parent link="world" />
    <child link="base_link" />
  </joint>
  
  <!-- Add the ft_sensor -->
  <ftsensor name="${robot_name}" parent="${robot_name}end_effector"/>
  <gazebo reference="${robot_name}WR">
    <provideFeedback>true</provideFeedback>
    <!-- FIXME: This sensor tag is never included in the sdf -->
    <sensor type="force_torque" name="${robot_name}force_torque_sensor">
      <always_on>1</always_on>
      <update_rate>100.0</update_rate>
      <visualize>1</visualize>
      <force_torque name="${robot_name}ft_sensor">
        <frame>child</frame>
      </force_torque>
    </sensor>
    <!-- *************************************************** -->
  </gazebo>
  <gazebo>
    <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>100.0</updateRate>
      <topicName>ft_sensor</topicName>
      <jointName>${robot_name}WR</jointName>
    </plugin>
  </gazebo>
  
   Add robotiq hand 
  <s-model_articulated prefix="${robot_name}"/> 
  
  <!-- Used for fixing Robotiq to the FT sensor -->
  <joint name="robotiq_anchor" type="fixed">
    <origin xyz="0 54e-3 0" rpy="0 0 0" />
    <parent link="ft_end_effector" />
    <child link="palm" />
  </joint>  
  
  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/grips_robotiq</robotNamespace>
    </plugin>
  </gazebo> 
  
</robot>
