<launch>
  
  <arg name="robot_name" value="bimanual"/>
  <!-- send robots urdfs to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find grips_description)/robots/$(arg robot_name).xacro'" />
  
  <node name="$(arg robot_name)_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="log">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
  
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find grips_gazebo)/launch/rviz/bimanual.rviz"/> 
  
</launch>
