<launch>
  <arg name="robot_name" default="grips"/>
  
  <!-- send grips urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find grips_description)/robots/$(arg robot_name).xacro'" />

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true" />
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- Show in Rviz  -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find grips_description)/launch/grips.rviz"/> 

</launch>
